a { 
    color: inherit;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:active {
  text-decoration: underline;
}

.container2{
    background:#f0f0f0c7;
    font-family: arial;
}

.container3{
    width:100vw;
    height:12vh;
    background: white;
}

.container{
    width: 88vw;
    margin: 0vw 0vw 5vw 5vw;
}

.upper{
    width: 100%;
    height: 12vh;
    display:flex;
}

.middle{
    width: 100%;
}

.titleimage{
    width: 8vw;
    height: 12vh;
}

.menu{
    width: 80vw;
    height: 8vh;
    margin-top:2vh;
    margin-bottom:2vh;
    text-align: right;
    vertical-align:middle;
}

.menu li { 
    display: inline-block;
    font-size: 16px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.subcontainer{
	width: 100%; 
	display: flex; 
}

.object{
	width: 27vw; 
	height: 18vw; 
	background-color: white;
	padding: 1vw 1vw 1vw 1vw;
	margin: 1vw 1vw 1vw 1vw;
}

.subobject{
	width: 100%; 
	height: 100%; 
}

.banner{
    width:100%;
    height:74vh;
    border:1px;
    border-style:solid;
}

.title{
    width:100%;
    height:6vh;
    vertical-align:middle;
}

.textcontainer{
    width:42vw;
    margin: 1vh 1vh 1vw 1vw;
    padding: 1vh 1vh 1vw 1vw;
    text-align: justify;
    background: white;
}

.linkcontainer{
    width:84vw;
    margin: 1vh 1vh 1vw 1vw;
    padding: 1vh 1vh 1vw 1vw;
    text-align: center;
    background: white;
    color:blue;
}